<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="genius.mykhatamulquranbeta">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/c"
        android:label="@string/app_name"
        android:roundIcon="@drawable/c"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityRegister" />
        <activity android:name=".startOfflineActivity" />
        <activity android:name=".KeteranganActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".startOnlineActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".Grafik"/>
        <activity android:name=".BookmarksActivity"/>

    </application>

    <uses-library android:name="com.genius.mykhatamulquranbeta.data.ApplicationConstants"/>

</manifest>